.lovers-quarrel-regular {
    font-family: "Lovers Quarrel", serif;
    font-weight: 400;
    font-style: normal;
    color:#AAAAAA;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
   
}
.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

#chat-box {
    width: 80%;
    height: 650px;
    margin-top: 150px;
    
}

#chat-content {
    overflow-y: auto;
    padding: 10px;
    scroll-behavior: smooth;
    height:85%;
}

#chat-messages {
    

}

#chat-content::-webkit-scrollbar {
    display: none;
}

#user-input{
    border:none;
    width:100%;
    background-color: #2F2F2F;
    outline:none;
    color:white;
}

#chat-input {
    align-items: center;
    border-radius: 10px;
    background-color:#2F2F2F;
    position: fixed;
    bottom: 25px;
    width:70%;
    
    
}


#chat-input button {
    color: white;
    font-size: 28px;
    cursor: pointer;
    background-color: #2F2F2F;
    border: none;
}



.just-end{
    justify-content: end;
}

.just-start{
    justify-content: start;
}


.chat-block {
    display: flex;
    width: 100%;
    padding:10px;
}

.received-text{
    display: flex;
    width: auto;
    border-radius: 5px;
    max-width: 60%;
    word-break: break-word;
    padding: 10px;
}

.message-text {
    display: flex;
    background-color: #2F2F2F;
    justify-content: right;
    padding: 10px;
    border-radius: 8px;
    width:auto;
    max-width: 60%;
    word-break: break-word;
    transition: 1s;
    animation: float-to-position 0.8s ease-out;

}

.test-click{
    scale: 1.5;
    transition: 2s;
}

@keyframes float-to-position {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}